@import 'public';
$page_width:100%;
$box_width:1226px;
$box_height:120px;
$img-width:316px;
$banner460:460px;
$font12:12px;
$font14:14px;
$font16:16px;
$font24:24px;
@import 'top';
@import 'header';
@import 'main';
@import 'footer';