.adv {
  width: 100%;
  height: 120px;
  background: url(https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/bb3c06a430689ba2357dd7d1fbfa6bab.jpg?w=5120&h=240) no-repeat 50%;
  background-size: auto 120px;
}

.top .top-navigation {
  margin: 0 auto;
  width: 1226px;
}

.top .top-navigation .topnav-li a, .top .dl a, .top .zc a, .top .xx a, .top .admin, .top .car a {
  font-size: 14px;
  line-height: 50px;
  text-align: center;
  color: #ADB1B2;
}

.top .dl, .top .zc, .topnav-li span {
  color: #404040;
  padding: 0 7px;
}

.top .xx, .top .car {
  padding-left: 16px;
  padding-right: 24px;
}

.top {
  width: 100%;
  background-color: #333333;
  height: 50px;
}

.top .top-navigation {
  color: #ddd;
  font-size: 12px;
}

.top .top-navigation .topnav-li {
  float: left;
}

.top .dl {
  border-right: 1px solid #404040;
}

.top .zc {
  border-right: 1px solid #404040;
}

.top .admin {
  color: #ddd;
  font-size: 12px;
}

.top .admin em {
  color: #ddd;
}

.top .car:hover {
  background: #464543;
}

.top a:hover {
  color: #fff;
}
