body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
ol,
dl,
dd,
dt,
input {
    margin: 0;
    padding: 0;
}

ul,
ol,
li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000;
}

img {
    vertical-align: middle;
}

.clr:after {
    content: " ";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.lf {
    float: left;
}

.rg {
    float: right;
}

.adv {
    width: 100%;
    height: 120px;
    background: url(https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/bb3c06a430689ba2357dd7d1fbfa6bab.jpg?w=5120&h=240) no-repeat 50%;
    background-size: auto 120px;
}

.top .top-navigation,
.header,
.banner,
.banner .banner-show,
.main .main-goods-sj,
.main .main-goods-sj .wrap,
.main-img,
.main-goods-jd,
.foot .foot-ul,
.foot .foot-nav,
.footer .footer-wrap {
    margin: 0 auto;
    width: 1226px;
}

.top .top-navigation .topnav-li a,
.top .dl a,
.top .zc a,
.top .xx a,
.top .car a {
    font-size: 14px;
    line-height: 50px;
    text-align: center;
    color: #ADB1B2;
}

.top .dl,
.top .zc,
.topnav-li span {
    color: #404040;
    padding: 0 7px;
}

.top .xx,
.top .car {
    padding-left: 16px;
    padding-right: 24px;
}

.top {
    width: 100%;
    background-color: #333333;
    height: 50px;
}

.top .top-navigation {
    color: #ddd;
    font-size: 12px;
}

.top .top-navigation .topnav-li {
    float: left;
}

.top .dl {
    border-right: 1px solid #404040;
}

.top .zc {
    border-right: 1px solid #404040;
}

.top .car:hover {
    background: #464543;
}

.top a:hover {
    color: #fff;
}

.top .top-navigation,
.header,
.banner,
.banner .banner-show,
.main .main-goods-sj,
.main .main-goods-sj .wrap,
.main-img,
.main-goods-jd,
.foot .foot-ul,
.foot .foot-nav,
.footer .footer-wrap {
    margin: 0 auto;
    width: 1226px;
}

.head-search .seek,
.head-search .icon-fangdajing {
    height: 50px;
    line-height: 50px;
    border: 1px solid #e0e0e0;
    position: absolute;
    top: 30px;
}

.header {
    height: 120px;
}

.header .head-logo {
    width: 55px;
    height: 55px;
    line-height: 120px;
    margin: 30px 20px 30px 0;
    background: url(http://s02.mifile.cn/assets/static/image/mi-logo.png) #FF6701 no-repeat 50% 50%;
}

.header .head-img {
    width: 165px;
    height: 100px;
    line-height: 120px;
    background: url(https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/1e455ea5dca7763e88f7a4bfface056d.jpg?w=165&h=55) no-repeat 50% 50%;
}

.head-nav .nav-li {
    position: relative;
    float: left;
    padding: 45px 10px;
}

.head-nav .nav-li a {
    font-size: 16px;
    line-height: 100%;
}

.head-nav .nav-li a:hover {
    color: #FF6701;
}

.head-search {
    position: relative;
}

.head-search .seek {
    right: 65px;
    width: 230px;
    padding: 0 10px;
    font-size: 14px;
}

.head-search .icon-fangdajing {
    width: 52px;
    font-size: 24px;
    background: #fff;
    color: #616161;
    right: 12px;
    text-align: center;
    cursor: pointer;
}

.banner #show-left,
.banner #show-right {
    position: absolute;
    top: 50%;
    margin-top: -60px;
    color: #999;
    text-decoration: none;
    display: none;
    font-size: 80px;
    z-index: 3;
}

.banner {
    height: 460px;
    margin-bottom: 15px;
    position: relative;
}

.banner .banner-left {
    z-index: 2;
    width: 236px;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 20px 0;
}

.banner .banner-left .left-nav-li {
    height: 42px;
}

.banner .banner-left .left-nav-li a {
    font-size: 14px;
    line-height: 42px;
    padding-left: 30px;
    color: #fff;
}

.banner .banner-left .left-nav-li .icon-zuojiantou {
    float: right;
    margin-right: 25px;
    font-size: 16px;
    line-height: 42px;
    color: #fff;
}

.banner .banner-left .active {
    background: #ff6900;
}

.banner .banner-left .banner-list {
    position: absolute;
    left: 236px;
    top: 0;
    width: 990px;
    min-height: 460px;
    background-color: #fff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
    display: none;
    transition: top 0.3s ease;
}

.banner .banner-left .banner-list .item {
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.banner .banner-left .banner-list .item a:hover {
    color: blue;
    text-decoration: underline;
}

.banner .banner-show {
    overflow: hidden;
    position: relative;
    height: 460px;
}

.banner .banner-show .sw-piclist {
    position: absolute;
    left: 0;
    top: 0;
}

.banner .banner-show .sw-piclist li {
    float: left;
}

.banner .banner-show .sw-piclist li .show-img {
    height: 460px;
    width: 1226px;
}

.banner .banner-show .sw-btnlist {
    position: absolute;
    right: 50px;
    bottom: 20px;
}

.banner .banner-show .sw-btnlist li {
    float: left;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ccc;
    text-indent: -999em;
    margin-right: 5px;
    cursor: pointer;
}

.banner .banner-show .sw-btnlist .active {
    background: #fff;
}

.banner #show-left {
    left: 250px;
}

.banner #show-right {
    right: 20px;
}

.ad .ad-img1,
.ad .ad-img2,
.ad .ad-img3 {
    width: 316px;
    height: 170px;
}

.ad {
    width: 1226px;
    height: 170px;
    margin: 15px auto;
}

.ad .ad-menu {
    background: url(../images/varity-bg.png);
    width: 240px;
    height: 170px;
}

.ad .ad-menu .xb-li {
    float: left;
    padding-top: 20px;
}

.ad .ad-menu .xb-li .iconfont {
    padding: 0 25px;
    font-size: 24px;
    color: #CECCCA;
}

.ad .ad-menu .xb-li .xb-p {
    font-size: 12px;
    color: #D0CFCD;
    text-align: center;
    width: 78px;
    padding-bottom: 20px;
}

.ad .ad-img {
    width: 316px;
    margin-left: 12px;
}

.top .top-navigation,
.header,
.banner,
.banner .banner-show,
.main .main-goods-sj,
.main .main-goods-sj .wrap,
.main-img,
.main-goods-jd,
.foot .foot-ul,
.foot .foot-nav,
.footer .footer-wrap {
    margin: 0 auto;
    width: 1226px;
}

.main {
    background: #F5F5F5;
    padding-bottom: 15px;
}

.main .main-goods-sj {
    margin-bottom: 15px;
}

.main-l {
    width: 234px;
}

.main-l img {
    width: 234px;
    height: 614px;
}

.main-r {
    width: 980px;
}

.main-r .goods-sj {
    margin-bottom: 15px;
}

.main-r .sj {
    width: 234px;
    height: 300px;
    background: #ffffff;
    float: left;
    text-align: center;
    margin-left: 10px;
}

.main-r .sj .inform {
    width: 65px;
    height: 24px;
    background: #eb3a38;
    font-size: 15px;
    line-height: 24px;
    color: #fff;
    margin: 0 85px;
}

.main-r .sj .list {
    width: 160px;
    height: 160px;
    margin: 10px 38px 20px 38px;
}

.main-r .sj .tit {
    font-size: 15px;
    font-weight: normal;
}

.main-r .sj .tit:hover {
    font-weight: bold;
    text-decoration: underline;
}

.main-r .sj .con {
    color: #a6a6a6;
    font-size: 12px;
    height: 22px;
    line-height: 22px;
}

.main-r .sj .price {
    color: darkorange;
}

.main-tit {
    padding-top: 20px;
}

.main-tit .main-p {
    font-size: 22px;
    line-height: 60px;
}

.main-tit .look a {
    font-size: 16px;
    line-height: 60px;
}

.main-tit .look a .confont {
    padding-left: 10px;
    padding-right: 20px;
    font-size: 22px;
    background: #999;
}

.main-tit .look a:hover {
    text-decoration: underline;
}

.main-img {
    padding-top: 15px;
}

.main-img img {
    height: 120px;
    width: 1226px;
}

.main-goods-jd .jd-l {
    width: 234px;
}

.main-goods-jd .jd-l img {
    height: 300px;
    width: 234px;
    margin-bottom: 15px;
}

.top .top-navigation,
.header,
.banner,
.banner .banner-show,
.main .main-goods-sj,
.main .main-goods-sj .wrap,
.main-img,
.main-goods-jd,
.foot .foot-ul,
.foot .foot-nav,
.footer .footer-wrap {
    margin: 0 auto;
    width: 1226px;
}

.foot {
    height: 270px;
    background: #fff;
    position: relative;
}

.foot .foot-ul {
    margin-bottom: 40px;
    border-bottom: 1px solid #E0E0E0;
}

.foot .foot-ul .foot-li {
    float: left;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    padding: 0 50px;
    margin: 30px 0px;
    border-right: 1px solid #E0E0E0;
}

.foot .foot-ul .foot-li .iconfont {
    font-size: 18px;
}

.foot .foot-ul .li5 {
    border-right: none;
}

.foot .foot-nav {
    height: 120px;
}

.foot .foot-nav .fnav-li {
    float: left;
    font-size: 16px;
    padding-bottom: 20px;
    padding-right: 105px;
    position: relative;
}

.foot .foot-nav .fnav-li .fnav-ul {
    position: absolute;
    bottom: -95px;
    left: 0;
}

.foot .foot-nav .fnav-li .fnav-ul .fnav-xli {
    font-size: 13px;
    padding-bottom: 15px;
}

.foot .foot-r {
    margin: 30px 0;
    height: 120px;
    width: 253px;
    text-align: center;
    border-left: 1px solid #E0E0E0;
    position: absolute;
    right: 0;
    bottom: 0;
}

.foot .foot-r .num {
    font-size: 20px;
    color: #FF6701;
}

.foot .foot-r .date {
    font-size: 12px;
    line-height: 20px;
}

.foot .foot-r .kf {
    text-align: center;
    width: 84px;
    height: 28px;
    margin-top: 10px;
    margin-left: 88px;
    border: 1px solid #FF6701;
}

.foot .foot-r .kf a {
    font-size: 12px;
    text-align: center;
    line-height: 30px;
    color: #FF6701;
}

.foot .foot-r .kf .kf:hover a {
    color: #fff;
}

.foot .foot-r .kf .kf:hover {
    background: #FF6701;
}

.footer {
    height: 165px;
    background: #FAFAFA;
}

.footer .footer-wrap .f-con {
    position: relative;
    height: 55px;
    width: 700px;
    padding-top: 30px;
    padding-left: 80px;
}

.footer .footer-wrap .f-con .footer-logo {
    position: absolute;
    left: 0;
    top: 30px;
    width: 55px;
    height: 55px;
    line-height: 120px;
    margin: 15px 20px 30px 0;
    background: url(http://s02.mifile.cn/assets/static/image/mi-logo.png) #FF6701 no-repeat 50% 50%;
}

.footer .footer-wrap .f-con .footer-ul .footer-li {
    float: left;
    font-size: 12px;
    color: #979797;
}

.footer .footer-wrap .f-con .footer-ul .footer-li .footer-li span {
    padding: 0 5px;
}

.footer .footer-wrap .f-con .footer-ul .footer-li .footer-li a {
    font-size: 12px;
    color: #757575;
}

.footer .footer-wrap .f-con p {
    font-size: 12px;
    color: #aca9a9;
}