.sort {
    width: 1226px;
    float: left;
    height: 30px;
    line-height: 30px;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.sort-li {
    float: left;
    padding: 0 30px;
    line-height: 20px;
    margin: 0;
    border-left: 1px solid #e0e0e0;
}

.sort-li a {
    color: #424242;
    -webkit-transition: color .2s;
    transition: color .2s;
    cursor: pointer;
    text-decoration: none;
    color: 14px;
}

.sort-li a:hover {
    text-decoration: underline;
    color: coral;
}

.list {
    width: 1160px;
    margin: 0 auto;
    font-size: 14px;
}

.list li {
    width: 200px;
    padding: 10px;
    float: left;
    margin: 0 10px 10px 0;
    border: 1px solid rgb(248, 248, 248);
    height: 310px;
    position: relative;
}

.list li h3 {
    width: 200px;
    height: 48px;
    font-size: 16px;
    line-height: 24px;
    overflow: hidden;
}

.list li p {
    color: #ccc;
    font-size: 12px;
    overflow: hidden;
}

.list li img {
    width: 200px;
    height: 200px;
    display: block;
}

.list li span {
    display: block;
    color: coral;
    color: 14px;
}